/* @media only screen and (max-width: 958px) {
    .container
   .container h1{
       font-size: 40px ;
   }

   .container img, .img1, .img_11{
    width: 250px;
    
    

   }
  } */

  @media (max-width: 958px) {
    /* .container1{
         margin-top: 4.5rem !important; 
    } */
    .container h1{
        font-size: 40px ;
    }
    .container{
        padding-top:  4rem !important;
    }
  
    .container img{
      padding-left: 0;
      align-items: center; 
      width: 100%;
      height:auto;
      display: flex;
    justify-content: center; 
    } 
    .container img, .img_11{ 
        width: 80%;
        height: auto; 
    }   

     .container img, .img_2{
        width: 50%;
        height: auto;
    }  
    
    /* card_1 part */

    .card{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    
  }

  @media (max-width: 600px){
    .card{
       
     flex-direction: column;
     margin: 0 auto !important;


    }  
    .card1{
        display: flex; 
        justify-content: center;
        align-items: center;

    }
  }

  @media (max-width: 617px){
    .card, .text11{
       
      text-align: start !important;

    }  
  }
  @media (max-width: 640px){
    .card, .text11{
       
      text-align: start !important;

    }  
  }

  @media (max-width: 595px) {

    .container {
        padding-top:  4rem !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right:  4rem !important; 
        padding-left:  4rem !important; 
        
    }
    .container  .cont{
        width: 70%;
        margin-top: 0;
    }
  
    .container  .cont, .cont1, .cont2{
        font-size: 18px;
        padding: 2px 0px;
    }
  
    
  }

